.container{
  width: 90%;
  margin: auto;
}
table {
  width: 100%;
}

mat-form-field{
  width: 100%;
}

button{
  width: 100%;
}

h1{
  width: 100%;
  text-align: center;
}

.edit{
  color: rgba(58, 82, 223, 0.856);
}

.delete{
  color: red;
}